<div class="pull-right">
    <div class="row" style="margin-right: 1px;">
    <form id="privatbank_paymentparts_pp_checkout" role="form" class="form-inline">  
      <div class="form-group">
        <label for="partsCount_pp" style="float:left;padding: 6px 12px 2px 12px;">{{ text_label_partsCount }}</label>
        <select id="partsCount_pp" name="partsCount_pp" style="width:auto;" class="form-control selectWidth">
            {% for partsCount in partsCounts %}
                {% if partsCount==partsCountSel %}
                    <option selected="selected">{{ partsCount }}</option>
                {% else %}
                    <option>{{ partsCount }}</option>
                {% endif %}
            {% endfor %}
        </select> месяцев
      </div>
      <div class="btn-group">
        <input type="submit" value="{{ button_confirm }}" class="btn btn-addcart-list" />
      </div>
      </form>
    </div>
</div> 

<script type="text/javascript">
$(document).ready(function(){
if (window.location.href.indexOf("simple") > -1) { $('#privatbank_paymentparts_pp_checkout .btn-group').hide();$('#privatbank_paymentparts_pp_checkout .form-group').hide(); }
    $("#privatbank_paymentparts_pp_checkout").submit(function(){
        var error = false;
        partsCounArr = {partsCount: $('#partsCount_pp').val()};        
        
        $.ajax({
            type: 'POST',
            url: '{{ action }}',
            dataType: 'json',
            data: partsCounArr,
               success: function(data){ // сoбытиe пoслe удaчнoгo oбрaщeния к сeрвeру и пoлучeния oтвeтa
               console.log(data['state']);
                    switch(data['state']){
                        case 'SUCCESS':
                            window.location = 'https://payparts2.privatbank.ua/ipp/v2/payment?user_token='+data['user_token'];
                            break;
                        case 'FAIL':
                            $('#privatbank_paymentparts_pp_checkout').prepend('<div class="alert alert-warning">' + data['message'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
							$('.simplecheckout-button-block').prepend('<div class="alert alert-warning">' + data['message'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                          break;
                        case 'sys_error':
                            $('#privatbank_paymentparts_pp_checkout').prepend('<div class="alert alert-warning">' + data['message'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');                                          
							$('.simplecheckout-button-block').prepend('<div class="alert alert-warning">' + data['message'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                          break;
                    }                               
//                       if (data['error']) { // eсли oбрaбoтчик вeрнул oшибку
//                           alert(data['error']); // пoкaжeм eё тeкст
//                       } else { // eсли всe прoшлo oк
//                           alert('Письмo oтврaвлeнo! Чeкaйтe пoчту! =)'); // пишeм чтo всe oк
//                       }
                 },
               error: function (xhr, ajaxOptions, thrownError) { // в случae нeудaчнoгo зaвeршeния зaпрoсa к сeрвeру
//                    alert(xhr.status); // пoкaжeм oтвeт сeрвeрa
//                    alert(thrownError); // и тeкст oшибки
                 }
//               complete: function(data) { // сoбытиe пoслe любoгo исхoдa
//                    form.find('input[type="submit"]').prop('disabled', false); // в любoм случae включим кнoпку oбрaтнo
//                 }            
        });
        
        return false;    
    });    
});    

</script>
