<button type="button" id="button-credit" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block"><img src="catalog/view/javascript/jquery/pp_calculator/img/pp_logo.png" style="max-width:25px;">{{ text_buycredit }}</button>