<div id="addcredit-popup" class="white-popup mfp-with-anim">
    <div id="privatbank" style="min-height: 300px;text-align: center;">Подождите..</div>
    <script type="text/javascript">
        $('#privatbank').load('index.php?route=extension/module/creditprivat&product_id={{ product_id }}', function () {
            $('#activatescript').trigger('click');
        });
    </script>
</div>
<style>
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 700px;
        margin: 20px auto;
    }
</style>