<div class="row" style="margin-left: 20px;">
    <form id="privatbank_paymentparts_ii_checkout" role="form" class="form-inline">
        <div class="form-group">
            <select id="partsCount_ii" name="partsCount_ii" style="width:auto;" class="form-control selectWidth">
                {% for partsCount in partsCounts %}
                    {% if partsCount==partsCountSel %}
                        <option selected="selected">{{ partsCount }}</option>
                    {% else %}
                        <option>{{ partsCount }}</option>
                    {% endif %}
                {% endfor %}
            </select> месяцев
        </div>
    </form>
</div>
