{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-privat-payparts" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-privat-payparts"
                      class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                        <li><a href="#tab-status" data-toggle="tab">{{ tab_order_status }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-shop-id">{{ entry_shop_id }}</label>
                                <div class="col-sm-10">
                                    {{ text_paymentparts_url }}
                                    <input type="text" name="payment_privatbank_paymentparts_pp_shop_id"
                                           value="{{ payment_privatbank_paymentparts_pp_shop_id }}"
                                           placeholder="{{ entry_shop_id }}" id="input-shop-id" class="form-control"/>
                                    {% if error_shop_id %}
                                        <div class="text-danger">{{ error_shop_id }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label"
                                       for="input-shop-password">{{ entry_shop_password }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_privatbank_paymentparts_pp_shop_password"
                                           value="{{ payment_privatbank_paymentparts_pp_shop_password }}"
                                           placeholder="{{ entry_shop_password }}" id="input-shop-password"
                                           class="form-control"/>
                                    {% if error_shop_password %}
                                        <div class="text-danger">{{ error_shop_password }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-ii-paymentquantity"><span
                                            data-toggle="tooltip"
                                            title="{{ help_paymentquantity }}">{{ entry_paymentquantity }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_privatbank_paymentparts_pp_paymentquantity"
                                           value="{{ payment_privatbank_paymentparts_pp_paymentquantity }}"
                                           placeholder="{{ entry_paymentquantity }}" id="input-ii-paymentquantity"
                                           class="form-control"/>
                                    {% if error_paymentquantity %}
                                        <div class="text-danger">{{ error_paymentquantity }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-payment_privatbank_paymentparts_pp_min_total"><span data-toggle="tooltip"
                                                                                              title="{{ help_min_total }}">{{ entry_min_total }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_privatbank_paymentparts_pp_min_total"
                                           value="{{ payment_privatbank_paymentparts_pp_min_total }}"
                                           placeholder="{{ entry_min_total }}"
                                           id="input-payment_privatbank_paymentparts_pp_min_total" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-payment_privatbank_paymentparts_pp_max_total"><span data-toggle="tooltip"
                                                                                              title="{{ help_max_total }}">{{ entry_max_total }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_privatbank_paymentparts_pp_max_total"
                                           value="{{ payment_privatbank_paymentparts_pp_max_total }}"
                                           placeholder="{{ entry_max_total }}"
                                           id="input-payment_privatbank_paymentparts_pp_max_total" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-payment_privatbank_paymentparts_pp_markup"><span data-toggle="tooltip"
                                                                                           title="{{ help_markup }}">{{ entry_markup }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_privatbank_paymentparts_pp_markup"
                                           value="{{ payment_privatbank_paymentparts_pp_markup }}"
                                           placeholder="{{ entry_markup }}" id="input-payment_privatbank_paymentparts_pp_markup"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_geo_zone_id" id="input-geo-zone"
                                            class="form-control">
                                        <option value="0">{{ text_all_zones }}</option>
                                        {% for geo_zone in geo_zones %}
                                            {% if geo_zone.geo_zone_id == payment_privatbank_paymentparts_pp_geo_zone_id %}
                                                <option value="{{ geo_zone.geo_zone_id }}"
                                                        selected="selected">{{ geo_zone.name }}</option>
                                            {% else %}
                                                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_status" id="input-status"
                                            class="form-control">
                                        {% if payment_privatbank_paymentparts_pp_status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-sort_order">{{ entry_sort_order }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="payment_privatbank_paymentparts_pp_sort_order"
                                           value="{{ payment_privatbank_paymentparts_pp_sort_order }}"
                                           placeholder="{{ entry_sort_order }}" id="input-sort_order"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-allowed"><span data-toggle="tooltip"
                                                                                                title="{{ help_allowed }}">Допустимые товары:</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="allowed" value="" placeholder="Допустимые товары:"
                                           id="input-allowed" class="form-control"/>
                                    <input type="text" name="category_allowed" value=""
                                           placeholder="Категории допустимых товаров:" class="form-control"/>
                                    <div id="product-allowed" class="well well-sm"
                                         style="height: 300px; overflow: auto;">
                                        {% for product_allowed in payment_privatbank_paymentparts_pp_products_allowed %}
                                            <div id="product-allowed{{ product_allowed.product_id }}"><i
                                                        class="fa fa-minus-circle"></i> {{ product_allowed.name }}
                                                <input type="hidden" name="payment_privatbank_paymentparts_pp_product_allowed[]"
                                                       value="{{ product_allowed.product_id }}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-status">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_completed_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_completed_status_id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_privatbank_paymentparts_pp_completed_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_canceled_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_canceled_status_id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_privatbank_paymentparts_pp_canceled_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_clientwait_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_clientwait_status_id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_privatbank_paymentparts_pp_clientwait_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_created_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_created_status_id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_privatbank_paymentparts_pp_created_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_failed_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_failed_status_id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_privatbank_paymentparts_pp_failed_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_rejected_status }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_privatbank_paymentparts_pp_rejected_status_id" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_privatbank_paymentparts_pp_rejected_status_id %}
                                                <option value="{{ order_status.order_status_id }}"
                                                        selected="selected">{{ order_status.name }}</option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><!--
    $('input[name=\'category_allowed\']').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item['name'],
                            value: item['category_id']
                        }
                    }));
                }
            });
        },
        select: function (item) {
            $.ajax({
                url: 'index.php?route=catalog/category/productsAutocomplete&user_token={{ user_token }}&filter_category_id=' + encodeURIComponent(item['value']),
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('#product-allowed' + item.product_id).remove();
                        $('#product-allowed').append('<div id="product-allowed' + item.product_id + '"><i class="fa fa-minus-circle"></i> ' + item.name + '<input type="hidden" name="payment_privatbank_paymentparts_pp_product_allowed[]" value="' + item.product_id + '" /></div>');
                    });
                }
            });
            return false;
        },
        focus: function (event, ui) {
            return false;
        }
    });
    $('input[name=\'allowed\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item['name'],
                            value: item['product_id']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'allowed\']').val('');

            $('#product-allowed' + item['value']).remove();

            $('#product-allowed').append('<div id="product-allowed' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="payment_privatbank_paymentparts_pp_product_allowed[]" value="' + item['value'] + '" /></div>');
        }
    });
    $('#product-allowed').delegate('.fa-minus-circle', 'click', function () {
        $(this).parent().remove();
    });
    //--></script>
{{ footer }}